body {
  background-color: cornsilk;
  max-width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 2%;
}

/* Accueil  Boutons*/
.container-accueil {
  display: flex;
}

.connexion,
.inscription {
  margin-top: 10%;
  flex: 1;
  text-align: center;
}

input {
  margin-bottom: 10px;
}

#connexion,
#inscription {
  height: 80%;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  border-radius: 20%;
  background-color: burlywood;
  cursor: pointer;
  text-align: center;
  padding-top: 30%;
  padding-bottom: 30%;
  padding-right: 50%;
  padding-left: 30%;
}

/*Accueil formulaire */
.form-connexion,
.form-inscription {
  display: none;
}

/* Chat message */
.message {
  margin-right: 20%;
  margin-left: 20%;
  border: 2px dotted blue;
  padding: 2%;
}

.author {
  font-weight: bold;
}

.espace-bas-blanc {
  margin-bottom: 20px;
}

/* Bouton envoyer message dans textarea */
div#div-textarea {
  display: inline-block;
  position: relative;
}

button#btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;

  border-radius: 10%;
  border: none;
  height: 100px;
  width: 100px;
  background-color: green;
}

textarea#msg {
  display: block;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .container-accueil {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
